![Callysto.ca Banner](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-top.jpg?raw=true)

<a href="https://hub.callysto.ca/jupyter/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fcallysto%2Fhackathon&branch=master&subPath=ColonizingMars/ChallengeTemplates/challenge-option-1-should-we-colonize-Mars.ipynb&depth=1" target="_parent"><img src="https://raw.githubusercontent.com/callysto/curriculum-notebooks/master/open-in-callysto-button.svg?sanitize=true" width="123" height="24" alt="Open in Callysto"/></a>

In [4]:
#temp cell
import pandas
pets = pandas.read_csv("pets_from_bootstrap_world.csv")

In [ ]:
# Run this cell
import interactive as i
from IPython.display import IFrame

# Best Friends in Space: Which pets should we bring to Mars? 

As one of the world's leading experts on cute animals, NASA has asked you to help decide which pets to bring onto Mars, since it might get lonely out there. In this adventure, you will learn datascience skills  and solve several challenges that will help you reach your goal. 

If you're stuck at any point, you can use [this link](https://hub.callysto.ca/jupyter/user/fbde8dcc92b359bd09845d32c52390da68637752/tree/hackathon/ColonizingMars/Tutorials) to access some tutorial notebooks. You can also check out [this](https://www.youtube.com/playlist?list=PL-j7ku2URmjZ1F3-9jvBuvsf0KcWPsxab) video series that can help you cover some basics. **Remember, to "run" a notebook cell, we can either use the button above or press `shift + enter`.** Make sure you do this in every cell that starts with `Run this cell` and cells you write code in. If it doesn't work, try hitting the stop button (square button on the top bar) and try again.

To begin, NASA has assigned you a helper name **Rover**. Rover will provide hints along the way and help you when you get stuck. Remember that you can save this notebook by pressing `ctrl (or cmd on mac) + s` or going to `File -> Save and Checkpoint` in the toolbar.

In [ ]:
# Run this cell
i.userinfo()

## Challenge #1: Accessing the Pet Archives

In this challenge you are tasked with using computer commands to access the Pet Archives Data which was collected by Bootstrap World. 

**Rover**: *ruff!* The first thing we should do is tell our notebook that we want to access the group of computer commands that lets us work with data. I think it was called `pandas`..?

In [ ]:
# Run this cell
display(IFrame('https://www.youtube.com/embed/P6KNkb7xVjk', width=560, height=315))

In [ ]:
# Run this cell
i.challenge1A()

In [ ]:
# fill in the commands below, we need 1 line each for pandas, numpy, and matplotlib, then run the cell
#========= PLACE ANSWER BELOW ===========#
import 
import 
import

### Debrief: Functions, Libraries, and Filenames
Now that we have access to the special commands we need to access the data, let's use them! The data file they gave us is called `pets_from_bootstrap_world.csv` - the .csv at the end tells us it is a csv file. The CSV stands for "Comma Separated Values", there is a special function in the `pandas` library we can use to view this data file called `read_csv()`. 

Python is a little tricky though, and needs us to put in the code which library the function we want to use comes from. For example, if I wanted to use the `loadtxt()` function from the `numpy` library, I would have to write it like `numpy.loadtxt('file.txt')`. See how the library is first, then there is a `.`, followed by the function? We then use the function on the file by putting the filename in the brackets. The file name is surrounded by `"` `"` so that it is read as characters.

In [ ]:
# Run this cell
i.challenge1B()

In [ ]:
# finish the command below and then run the cell 
#========= PLACE ANSWER BELOW ===========#
pandas.

### Challenge Complete!
Wow, great job! You've completed the very first challenge with flying colours. Now, before moving onto the next challenge, write down the age of the pets in rows `28` (Miaulis), `15` (Gir), and `11` (Maple). **Make sure you write it somewhere that's safe, because you never know when it will come in handy! ;)**

## Challenge #2: Narrowing Down the Data

Now that we have successfully accessed the data archives from our friends back on Earth, it's now time to explore what pets there are. This will help us get an idea of not only what our options are, but which pets can be most suitable for life on Mars. 

**Rover**: *I hope it's dogs!*

In [ ]:
# Run this cell
display(IFrame('https://www.youtube.com/embed/gCcyJdQyvjo', width=560, height=315))

### Debrief: Variables

Now that we've learned how to access the data, we need to make a codeword for it to make it easier for the computer to recognize it later. In this process, we end up making what's called a variable. Think about it this way, depending on what you put on the right side of the `=` sign, the codeword's value may vary. The codeword is called a variable name, when you give it a value you can use it to mean that value in other parts of the notebook. Let's say I ran `a = 2` in a cell, now whenever I type `a` it will mean the same as 2.

In [ ]:
# Run this cell
i.challenge2A()

It would be very useful to assign the code used to access the `pets dataset` to a variable named `pets`. Can you do that in the cell below?

In [ ]:
# In this cell, assign the pets data to a variable named "pets"
# It should look something like: codeword = library.function("filename.csv")
#========= PLACE ANSWER BELOW ===========#

In [ ]:
# Now try just typing "pets", then run the cell, you should see the data
#========= PLACE ANSWER BELOW ===========#

### Debrief: Columns, Unique Values, and Location

With the data now easily accessible, let's try using some cool functions from the `pandas` library to get to know our data more. You can also check out the Tutorial's [pandas cheatsheet](./pandas-dataframes.ipynb) for a whole list of things we can do.

For example, to access the values in a column, we can use `dataset_variable_name["column_name"]`. 

To list all the columns in a dataset, use `list(dataset_variable_name.columns)` 

Let's try it below with our pets dataset.

In [ ]:
i.challenge2b()

In [5]:
# Place your code below and run it. What do you see?
#========= PLACE ANSWER BELOW ===========#
list(pets.columns)

['Name',
 'Species',
 'Gender',
 'Age (years)',
 'Fixed',
 'Legs',
 'Weight (lbs)',
 'Time to Adoption (weeks)']

In [17]:
def challenge2c():
    print("Now that we have all the column names, let's choose a couple to look at. How about all of their names? Using the dataset_variable_name[\"column_name\"] format complete the command.")

In [27]:
# Place your code that views all the pet names below. Assign it to a variable called "names", and then view it.
#========= PLACE ANSWER BELOW ===========#
pets["Name"]

0                Sasha
1              Mittens
2            Sunflower
3                Sheba
4                Felix
5             Snowcone
6                 Wade
7             Hercules
8               Toggle
9              Boo-boo
10               Fritz
11               Maple
12                  Bo
13            Midnight
14                 Rex
15                 Gir
16                 Max
17                Nori
18    Mr. Peanutbutter
19               Lucky
20                Kujo
21               Buddy
22                Gila
23            Snuffles
24             Nibblet
25            Snuggles
26               Daisy
27                 Ada
28             Miaulis
29          Heathcliff
30             Tinkles
Name: Name, dtype: object

In [22]:
# Place your code that views unique of number of legs below  
#========= PLACE ANSWER BELOW ===========#

In [18]:
def challenge2d():
    sdlfs

In [15]:
# Get location of the 3 legged pet. What is their name?
pets.loc[[19]]

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks)
19,Lucky,dog,male,3,True,3,45.4,9

### Challenge Complete!

What is the name of the three legged pet? **Write it down in a safe place for later!**

## Challenge #3: Making Our Own Dataframe

Now that we have successfully accessed the data archives from our frien

### Debrief: Sorting and Subsetting

ghjkl;'

In [ ]:
def challenge3a():
    sdlfs

In [ ]:
# Sort time to adoption, age, etc. 
#========= PLACE ANSWER BELOW ===========#

In [ ]:
def challenge3b():
    sdlfs

In [23]:
# subset species, gender, fixed, etc and assign to variable name
#========= PLACE ANSWER BELOW ===========#

In [ ]:
## code for generate and append example

#pets = pandas.read_csv("pets_from_bootstrap_world.csv")
pets_list = pets["Species"].unique()
emoji_list = ["üêà", "üêï", "ü¶é", "üêá", "üï∑"]
for i in range(len(emoji_list)):
    pets.loc[pets["Species"] == pets_list[i], "Emoji"] = emoji_list[i]
    
pets

## Challenge #4: Visualization

Now that we have successfully accessed the data archives from our frien

In [29]:
# Histogram of pet species, also include male/female split
#========= PLACE ANSWER BELOW ===========#

In [28]:
# Graph the ages of the species using groupby() 
#========= PLACE ANSWER BELOW ===========#

## Challenge #5: Making Observations & Drawing a Conclusion

Now that we have successfully accessed the data archives from our frien

In [ ]:
# List 3 observations about the data you've noticed
#========= PLACE ANSWER BELOW ===========#

In [ ]:
# Which pets would you bring to Mars? Use your observations from above to justify your answer. 
#========= PLACE ANSWER BELOW ===========#

[![Callysto.ca License](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-bottom.jpg?raw=true)](https://github.com/callysto/curriculum-notebooks/blob/master/LICENSE.md)