![Callysto.ca Banner](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-top.jpg?raw=true)

<a href="https://hub.callysto.ca/jupyter/hub/user-redirect/git-pull?repo=https%3A%2F%2Fgithub.com%2Fcallysto%2Fhackathon&branch=master&subPath=ColonizingMars/AccessingData/nasa-pictures-of-mars.ipynb&depth=1" target="_parent"><img src="https://raw.githubusercontent.com/callysto/curriculum-notebooks/master/open-in-callysto-button.svg?sanitize=true" width="123" height="24" alt="Open in Callysto"/></a>

# Pictures of Mars from NASA

Source: https://api.nasa.gov/ 

NASA API: The objective of this site is to make NASA data, including imagery, accessible to application developers

## Mars Rover Photos

[Text taken directly from their dataset description]

This API is designed to collect image data gathered by NASA's Curiosity, Opportunity, and Spirit rovers on Mars and make it more easily available to other developers, educators, and citizen scientists. This API is maintained by Chris Cerami.

Each rover has its own set of photos stored in the database, which can be queried separately. There are several possible queries that can be made against the API. Photos are organized by the sol (Martian rotation or day) on which they were taken, counting up from the rover's landing date. A photo taken on Curiosity's 1000th Martian sol exploring Mars, for example, will have a sol attribute of 1000. If instead you prefer to search by the Earth date on which a photo was taken, you can do that too.

Along with querying by date, results can also be filtered by the camera with which it was taken and responses will be limited to 25 photos per call. Queries that should return more than 25 photos will be split onto several pages, which can be accessed by adding a 'page' param to the query.

In [3]:
camera_list = ['FHAZ', 'RHAZ', 'MAST', 'CHEMCAM', 'NAVCAM']
camera_name = camera_list[0]

DEMO_KEY='MCPiQTUOtrm8K1bZAXY2UIYVB3JNcunfwkEd2IYm'
base_url = "https://api.nasa.gov/mars-photos/api/v1/rovers/curiosity/"
build_query = "photos?sol=1000&camera=" + camera_name +  "&api_key=" + DEMO_KEY
full_url = base_url + build_query

import requests
resp = requests.get(url=full_url)
data = resp.json()

import pandas as pd
df = pd.io.json.json_normalize(data,record_path="photos") # or pd.json_normalize with Pandas > 1.0
df

,camera,earth_date,id,img_src,rover,sol
0,"{'id': 20, 'name': 'FHAZ', 'rover_id': 5, 'ful...",2015-05-30,102693,http://mars.jpl.nasa.gov/msl-raw-images/proj/m...,"{'id': 5, 'name': 'Curiosity', 'landing_date':...",1000
1,"{'id': 20, 'name': 'FHAZ', 'rover_id': 5, 'ful...",2015-05-30,102694,http://mars.jpl.nasa.gov/msl-raw-images/proj/m...,"{'id': 5, 'name': 'Curiosity', 'landing_date':...",1000

In [4]:
from IPython.display import Image
for image_url in df['img_src']:
    print(image_url)
    image = Image(url=image_url)
    display(image)

http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01000/opgs/edr/fcam/FLB_486265257EDR_F0481570FHAZ00323M_.JPG

http://mars.jpl.nasa.gov/msl-raw-images/proj/msl/redops/ods/surface/sol/01000/opgs/edr/fcam/FRB_486265257EDR_F0481570FHAZ00323M_.JPG

[![Callysto.ca License](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-bottom.jpg?raw=true)](https://github.com/callysto/curriculum-notebooks/blob/master/LICENSE.md)