![Callysto.ca Banner](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-top.jpg?raw=true)

# Data Science Hackathon

As our world becomes increasingly data-driven, the ability to analyze, visualize, and draw insights from large and complex datasets is becoming an essential skill. Data science can provide you with the tools to make better decisions and solve complex problems.

Click on the cell below, then click the Run button above to import and display a dataframe about *hypothetical* pets for adoption from our friends at [Bootstrap](https://www.bootstrapworld.org/materials/data-science).

In [1]:
import pandas as pd
pets = pd.read_csv('https://raw.githubusercontent.com/callysto/data-files/main/data-science-and-artificial-intelligence/pets.csv')
pets

,Name,Species,Gender,Age (years),Fixed,Legs,Weight (lbs),Time to Adoption (weeks)
0,Sasha,cat,female,1,False,4,6.5,3
1,Mittens,cat,female,2,True,4,7.4,1
2,Sunflower,cat,female,5,True,4,8.1,6
3,Sheba,cat,female,7,True,4,8.4,6
4,Felix,cat,male,16,True,4,9.2,5
...,...,...,...,...,...,...,...,...
26,Daisy,dog,female,5,True,4,68.0,8
27,Ada,dog,female,2,True,4,32.0,3
28,Miaulis,cat,male,7,False,4,8.8,4
29,Heathcliff,cat,male,1,True,4,2.1,2
30,Tinkles,cat,female,1,True,4,1.7,3

To create visualizations, we will use [Plotly Express](https://plotly.com/python/plotly-express). Click on the cell below then click Run to display a `bar` graph.

In [ ]:
import plotly.express as px
px.bar(pets, x='Name', y='Age (years)', title='Pets Ages')

## Beginner Challenges

Each of these challenges is worth 2 points, and uses the `pets` dataframe.

1. make a bar graph with `Name` on the x-axis and `Legs` on the y-axis
2. make a bar graph using
```
x='Species', y='Age (years)', color='Gender'
```
3. recreate the previous bar graph, but add
```
, barmode='group'
```
4. make a line graph by changing `bar` to `line` from the example
```
px.bar(pets, x='Name', y='Age (years)', title='Pets Ages')
```
5. make a scatter plot with
```
px.scatter(pets, x='Name', y='Age (years)')
```
6. recreate the previous scatter plot, but add a title
7. recreate the previous scatter plot and color the points by `Gender`
8. make a scatter plot comparing `Age (years)` with `Weight (lbs)`
9. recreate the previous scatter plot, but add
```
, size='Time to Adoption (weeks)'
```
10. make a [histogram](https://plotly.com/python/histograms) (like a bar graph showing calculated statistics) using
```
px.histogram(pets, x='Species', y='Weight (lbs)', title='Total Weight by Species')
```
11. recreate the histogram, adding the following parameter to calculate average instead of totals
```
, histfunc='avg'
```
12. sort the `pets` dataframe by `Age (years)`
```
pets.sort_values('Age (years)')
```
13. sort by age in descending order by adding
```
, ascending=False
```
14. make a bar graph of the sorted dataframe
15. display just one column of the dataframe
```
pets['Species']
```
16. display a few columns of the dataframe
```
pets[['Name', 'Legs', 'Time to Adoption (weeks)']]
```
17. display just the dogs
```
pets[pets['Species']=='dog']
```
18. display all the animals that are not dogs
```
pets[pets['Species']!='dog']
```
19. filter the `pets` dataframe to show just cats and dogs, using
```
pets[pets['Species'].isin(['cat', 'dog'])]
```
20. create a pie chart of the grouped data using the following code:
```
species_counts = pets.groupby('Species').size()
px.pie(values=species_counts, names=species_counts.index)
```
21. recreate the previous pie chart, and add a title
22. find the average (mean) of a column with
```
pets['Age (years)'].mean()
```
23. find the median value of a different column
24. create a new column in the dataframe that is kg instead of pounds using
```
pets['Mass (kg)'] = pets['Weight (lbs)'] / 2.205
```
25. create a new column that is `Time to Adoption (days)`
26. group the data by `'Species'` and find the mean values using
```
pets.groupby('Species').mean(numeric_only=True)
```
27. group the data by `'Fixed'` and display the `.max`, `.min`, and `'.sum` values
28. make an interactive [sunburst chart](https://plotly.com/python/sunburst-charts) using
```
px.sunburst(pets, path=['Species', 'Gender', 'Fixed'], values='Age (years)', title='Pets Ages by Species, Gender, and Fixed')
```
29. Display the row of the heaviest pet using 
```
pets.sort_values('Mass (kg)', ascending=False).head(1)
```
30. Display the row of the pet that took the longest to get adopted.

## Intermediate Challenges

Each of these challenges is worth 5 points, and uses a large data set about [Pokémon](https://en.wikipedia.org/wiki/Pok%C3%A9mon) from [PokéAPI](https://pokeapi.co).

Import and display the data using
```
pokemon = pd.read_csv('https://raw.githubusercontent.com/callysto/data-files/main/data-science-and-artificial-intelligence/pokemon.csv')
display(pokemon)
```

Display the column labels and descriptions using
```
pokemon_labels = pd.read_csv('https://raw.githubusercontent.com/callysto/data-files/main/data-science-and-artificial-intelligence/pokemon_columns.csv')
pokemon_labels
```

1. display the last five rows of the data set using `.tail()`
2.

,id,name,base_experience,height,weight,speed,hp,attack,defense,special-attack,...,is_legendary,is_mythical,species_order,pal_park_encounters,shape,varieties,egg_group1,egg_group2,%_female,%_male
0,1,bulbasaur,64.0,7,69,45,45,49,49,65,...,False,False,1,field,quadruped,['bulbasaur'],monster,plant,12.5,87.5
1,2,ivysaur,142.0,10,130,60,60,62,63,80,...,False,False,2,field,quadruped,['ivysaur'],monster,plant,12.5,87.5
2,3,venusaur,263.0,20,1000,80,80,82,83,100,...,False,False,3,field,quadruped,"['venusaur', 'venusaur-mega', 'venusaur-gmax']",monster,plant,12.5,87.5
3,10033,venusaur-mega,281.0,24,1555,80,80,100,123,122,...,False,False,3,field,quadruped,"['venusaur', 'venusaur-mega', 'venusaur-gmax']",monster,plant,12.5,87.5
4,10195,venusaur-gmax,236.0,240,10000,80,80,82,83,100,...,False,False,3,field,quadruped,"['venusaur', 'venusaur-mega', 'venusaur-gmax']",monster,plant,12.5,87.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1276,10269,miraidon-drive-mode,NaN,28,2400,135,100,85,100,135,...,True,False,999,NaN,NaN,"['miraidon', 'miraidon-low-power-mode', 'miraidon-drive-mode', 'miraidon-aquatic-mode', 'miraidon-glide-mode']",no-eggs,NaN,0.0,0.0
1277,10270,miraidon-aquatic-mode,NaN,28,2400,135,100,85,100,135,...,True,False,999,NaN,NaN,"['miraidon', 'miraidon-low-power-mode', 'miraidon-drive-mode', 'miraidon-aquatic-mode', 'miraidon-glide-mode']",no-eggs,NaN,0.0,0.0
1278,10271,miraidon-glide-mode,NaN,28,2400,135,100,85,100,135,...,True,False,999,NaN,NaN,"['miraidon', 'miraidon-low-power-mode', 'miraidon-drive-mode', 'miraidon-aquatic-mode', 'miraidon-glide-mode']",no-eggs,NaN,0.0,0.0
1279,1009,walking-wake,NaN,35,2800,109,99,83,91,125,...,False,False,1011,NaN,NaN,['walking-wake'],no-eggs,NaN,0.0,0.0
1280,1010,iron-leaves,NaN,15,1250,104,90,130,88,70,...,False,False,1012,NaN,NaN,['iron-leaves'],no-eggs,NaN,0.0,0.0

[![Callysto.ca License](https://github.com/callysto/curriculum-notebooks/blob/master/callysto-notebook-banner-bottom.jpg?raw=true)](https://github.com/callysto/curriculum-notebooks/blob/master/LICENSE.md)